<% layout(`/layouts/boilerplate.ejs`)-%>
<h1 class="text-center mb-3">Editing</h1>
<hr class="d-none d-md-block my-2 ms-3 mb-3" />
<div class="container">
  <form
    action="http://localhost:3000/campgrounds/<%=campground.id%>?_method=PATCH"
    method="POST"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Name: </label>
      <input
        type="text"
        id="title"
        name="campground[title]"
        value="<%= campground.title %>"
        class="form-control"
        placeholder="Yelp Camp"
        required
      />
      <div class="valid-feedback">Looks cool!</div>
    </div>
    <div>
      <label for="price" class="form-label">Price: </label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input
        type="number"
        id="price"
        name="campground[price]"
        min="0"
        step="0.01"
        placeholder="0.00"
        value="<%= campground.price %>"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks cool!</div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location: </label>
      <input
        type="text"
        id="location"
        value="<%= campground.location %>"
        name="campground[location]"
        class="form-control"
        placeholder="Campinas, São Paulo State"
        required
      />
      <div class="valid-feedback">Looks cool!</div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="image" class="form-label">Campground Images: </label>
        <input
          type="file"
          name="image"
          id="image"
          class="form-control"
          multiple
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description: </label>
      <textarea
        name="campground[description]"
        id="description"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="Love to stargaze behind camp's waterfall..."
        required
      >
<%= campground.description %></textarea
      >
    </div>
    <div class="valid-feedback">Looks cool!</div>
    <div class="mb-3">
      <button class="btn btn-light border" type="submit">Update</button>
    </div>
    <div class="mb-3">
      <a
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="http://localhost:3000/campgrounds/<%=campground.id%>"
        >Back</a
      >
    </div>

    <div class="mb-3">
      <% campground.images.forEach((img,i)=>{ %>
      <img
        src="<%= img.thumbnailSizeImage%>"
        alt="image <%= i+1 %>"
        class="img-thumbnail"
        crossorigin="anonymous"
      />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="image-<%=i%>"
          value="<%=img.filename%>"
          name="deleteImages[]"
        />
        <label class="form-check-label" for="image-<%=i%>">Delete?</label>
      </div>
      <% }) %>
    </div>
  </form>
</div>
